* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//-------- Start Globale Setting --------
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
}

.all_sub__header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.all__p {
  color: #767373;
  line-height: 1.5;
  max-width: 550px;
}

.all__img__div {
  width: 100%;
  text-align: center;
}

img {
  max-width: 70%;
}
form {
  margin-top: 30px;
}
input {
  width: 300px;
  padding: 8px;
}
.all__btn {
  padding: 9px;
  width: 150px;
  border: 0;
  text-transform: capitalize;
  background-color: #2f65f9;
  color: #fff;
  cursor: pointer;
}
.icons__so {
  position: relative;
  left: 0;
  top: 17px;
  margin-bottom: 10px;
}
.i__con {
  position: absolute;
  top: 0;
  left: 29px;
}
.all__link {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
  text-transform: capitalize;
}
//-------- End Globale Setting --------

body {
  font-family: "Raleway", sans-serif;

  nav {
    padding-top: 30px;

    .logo {
      flex: 1;

      @media (max-width: 767px) {
        padding-left: 10px;
      }

      @media (min-width: 768px) and (max-width: 1300px) {
        padding-left: 10px;
      }
    }

    .links-nav {
      list-style: none;
      flex: 1;
      text-align: right;

      li {
        display: inline-block;

        a {
          text-decoration: none;
          padding: 15px;
          font-size: 19px;
          color: #000000a3;
          text-transform: capitalize;
        }
      }
    }
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 767px) {
      .reset__row {
        flex-direction: column-reverse;
        padding: 15px;
      }
    }

    .hero-text-left {
      flex: 1;

      @media (max-width: 767px) {
        text-align: center;
      }

      form {
        margin-top: 30px;

        input {
          width: 300px;
          padding: 8px;
        }

        .btn {
          @extend .all__btn;

          @media (max-width: 767px) {
            width: 100%;
            max-width: 50%;
            margin-top: 20px;
          }

          @media (min-width: 768px) and (max-width: 1300px) {
            width: 100%;
            max-width: 50%;
            margin-top: 20px;
          }
        }
      }

      .sub__header__of__hero {
        @extend .all_sub__header;

        @media (max-width: 767px) {
          font-size: 34px;
        }
      }

      .p__of__hero {
        @extend .all__p;
      }
    }

    .img-right {
      flex: 1;

      .img__div {
        @extend .all__img__div;

        img {
          max-width: 70%;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 1300px) {
      padding: 15px;
    }
  }

  .section__three {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("../images/bg-curve-desktop.svg");
    background-size: cover;
    background-position: center;

    @media (max-width: 767px) {
      background-image: url("../images/bg-curve-mobile.svg");
      background-size: cover;
      background-position: center;

      .reset__row {
        flex-direction: column-reverse;
        padding: 15px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .reset__row {
        flex-direction: column-reverse;
        padding: 15px;
      }
    }

    .text__left__in_section__three {
      flex: 1;

      @media (max-width: 767px) {
        text-align: center;
      }

      .link {
        margin: 25px 0;
        display: block;
        position: relative;
        color: #3da08f;
        text-decoration: none;

        &::before {
          content: url("../images/icon-arrow.svg");
          position: absolute;
          top: 2px;
          left: 20%;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 22%;
          background: #3da08f;
          height: 1.5px;
        }
      }

      .box {
        padding: 17px;
        background-color: #fff;
        width: 100%;
        max-width: 370px;
        text-align: center;

        box-shadow: 3px 3px 23px -17px rgba(0, 0, 0, 0.75);

        .p__box {
          line-height: 1.4;
          margin: 15px 0;
        }

        img {
          border-radius: 50%;
        }

        .name {
          text-transform: capitalize;
          margin-top: 3px;
        }

        .work {
          margin-top: 3px;
          display: block;
        }

        @media (max-width: 767px) {
          margin: auto;
        }
      }
    }

    .img__right_in_section__three {
      flex: 1;

      .img__div {
        @extend .all__img__div;

        img {
          max-width: 70%;
        }
      }
    }

    @media (min-width: 768px) and (max-width: 1300px) {
      padding: 15px;
    }
  }

  .get__start {
    background-color: hsl(238, 22%, 44%);
    padding: 50px;
    color: #fff;
    @media (max-width: 767px) {
      .reset__row {
        flex-direction: column;
        padding: 15px;
      }
    }
    .get__start_left {
      flex: 1;
      .header__get__start {
        font-size: 35px;
        text-transform: capitalize;
        @media (max-width: 767px) {
          font-size: 30px;
          text-align: center;
        }
      }
      .p__gat__start {
        color: #fff;
        @media (max-width: 767px) {
          width: 97vw;
          text-align: center;
        }
      }
    }
    .input__left {
      flex: 1;
      form {
        .border__radius {
          border-radius: 3px;
          border: 0;
          padding: 10px;
        }
        .btn {
          @extend .all__btn;
          padding: 10px;
          &.btn__custum {
            background-color: hsl(224, 93%, 58%);
            @media (max-width: 991px) {
              width: 50%;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: hsl(243, 87%, 12%);
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
    @media (max-width: 767px) {
      .reset__row {
        flex-direction: column;
        padding: 15px;
      }
    }

    .footer__logo {
      width: 30%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
      }
      @media (min-width: 768px) {
        padding-left: 15px;
      }
      .icons__so {
        .i__con {
          width: 250px;
        }
      }
    }
    .footer__links {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
      }
      @media (min-width: 768px) {
        margin-left: 50px;
      }
      a {
        @extend .all__link;
      }
    }
    .footer__contact {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
      }
      a {
        @extend .all__link;
      }
    }
    .footer__social {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
      .all__socials {
        display: block;

        img {
          border: 1px solid #fff;
          background-color: #fff;
          width: 40px;
          height: 40px;
          border-radius: 100px;
          padding: 3px;
        }
      }
    }
  }
}
